<p id="notice"><%= notice %></p>
<p id="imp">Welcome, <%= @guest.name.capitalize %>
</p>
<br /><br />
<a href="/gplay?type=football" class="super green button">
	<span>Football - ElClassico</span>
</a>
<a href="/gplay?type=cricket" class="super green button">
	<span>Cricket - IndvsAus</span>
</a>
<br /><br />
<h3 class="">Feedback</h3>
<p>This is of prime importance to us and one of the reasons of the pilot. Please give us your valued feedback.</p>		
<h3>Team</h3>
<p>Rohit Jain | Neeraj Gupta | Shashank Nayak</p>
<p>IIIT | NSIT</p>